body {
    color: #33521e;
    font-size: 18px;
}

* {
    font-family: 'Crete Round', serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: normal;
    text-align: center;
    padding: 15px;
}

h1 {
    font-size: 2em;
}

h2 {
    font-size: 1.6em;
}

h3 {
    font-size: 1.2em;
}

img {
    margin-left: auto;
    margin-right: auto;
    display: block;
    padding-bottom: 10px;
}

p {
    text-align: left;
}

.seperator {
    color: #FFFFFF;
    background-color: #FFFFFF;
    font-weight: bold;
    padding: 20px;
    text-align: center;
    border: 2px solid #FFFFFF;
    border-radius: 5px;
    
    width: 200px;
    box-sizing: border-box;
}

.info {
    margin-left: 25px;
}

.name {
    /* margin-bottom: 5px; */
    font-size: 2em;
    color: #33521e;
}

.details {
    color: #415237;
}

.headName {
    position: relative;
    color: white;
    top: -11vh;
    left: 50%;
    transform: translate(-50%, -50%);
}

.top {
    max-height: 115vh;
}

.topPicture {
    max-height: 80vh;
}

.cards {
    size: 90%;
    justify-content: left;
    margin-top: 25px;
    margin-left: auto;
    margin: 1.5em auto;
    max-width: 600px;
    column-gap: 1.5em;
}

.attractionCard {
    display: flex;
    justify-content: center;
    width: 90%;
    margin-left: 10px;
    margin-right: 10px;
    position: relative;
    left: 20px;
}

.picture {
    padding-left: 10px;
    padding-top: 10px;
}