h3 {
  font-size: 50px;
}
.topnav {
  margin-top: 20px;
  height: 100px;
  background-color: #33521E;
  border: 1px solid #fdfdfd;
}
.topnav img {
  margin-top:0px;
}
.topnav h1 {
  display:inline-block;
  margin-top: 35px;
    font-size: 40px;
    color:white;
    font-family: 'Crete Round', serif;
    margin-left: 20 px;
    /* margin: 0px; */
    width: 43%;
}
.topnav nav{
  margin-top: 35px;
    width: 43%;
    float:right;
    list-style-type: none;
    /* margin-top: 5px; */
    padding: 0;
    display:block;
    
    text-align: center;
    font-family: 'Crete Round', serif;
}
.nav-link:link
{
   color: white;
   text-decoration: none;
}
.nav-link:visited
{
   color: white;
   text-decoration: none;
}
.nav-link:hover
{
   color: white;
   text-decoration: none;
}
.nav-link:active
{
   color: white;
   text-decoration: none;
}
.navbar-custom {
    color:white;
    background-color: #33521E;
    font-size: 25px;
}

body.bgpic {
    background: url(photos/alpineloop.png);
    background-repeat: no-repeat;
    background-size: cover;

}
 .welcome {
     font-size: 25px;
     font-family:Verdana, Geneva, Tahoma, sans-serif;
 }
.pic {
    display: grid;
    grid-template: auto auto auto / 1fr 1fr 1fr;
    grid-column-gap: 10px;
    grid-row-gap: 15px;
  }
.image img {
  width: 100%;
}
h2 {
  font-size: 20px;
}
li {
  display: inline;
}
.quote {
  margin: auto;
  font-size: 40px;
  color: #281c6e;        /* Light gray */
  font-style: italic;
  background-color: #ded9f5;
}

footer {
  float:bottom;
   background-color: #33521E;
          height: 50px;
          font-size: 25px;
          color: white;
      }
      
